# **Author: Vijay Varma - AI20BTECH11012**

# **Kaggle Display Name : AI20BTECH11012**

# **Model 1 using LGBM**

# **Downloading Data from Kaggle**

In [2]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [3]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle competitions download -c new-york-city-taxi-fare-prediction

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv.zip to /content
100% 1.56G/1.56G [00:40<00:00, 32.6MB/s]
100% 1.56G/1.56G [00:40<00:00, 41.6MB/s]
Downloading GCP-Coupons-Instructions.rtf to /content
  0% 0.00/486 [00:00<?, ?B/s]
100% 486/486 [00:00<00:00, 443kB/s]
Downloading sample_submission.csv to /content
  0% 0.00/335k [00:00<?, ?B/s]
100% 335k/335k [00:00<00:00, 101MB/s]
Downloading test.csv to /content
  0% 0.00/960k [00:00<?, ?B/s]
100% 960k/960k [00:00<00:00, 121MB/s]

In [7]:
! unzip train.csv.zip

Archive:  train.csv.zip
  inflating: train.csv

In [8]:
#### 
# Importing Required Packages
import pandas as pd
import numpy as np
import datetime as dt

In [9]:
####
# Loading 10000000 rows of tran.csv into df_train

df_train = pd.read_csv("train.csv",nrows=5000000)

In [10]:
####
# Printing df_train

df_train

                                   key  ...  passenger_count
0          2009-06-15 17:26:21.0000001  ...                1
1          2010-01-05 16:52:16.0000002  ...                1
2         2011-08-18 00:35:00.00000049  ...                2
3          2012-04-21 04:30:42.0000001  ...                1
4        2010-03-09 07:51:00.000000135  ...                1
...                                ...  ...              ...
4999995    2011-01-24 21:33:44.0000003  ...                1
4999996  2013-10-11 12:12:00.000000118  ...                2
4999997    2014-12-06 23:04:28.0000002  ...                2
4999998    2015-05-30 19:01:24.0000004  ...                1
4999999  2012-07-11 08:12:00.000000102  ...                6

[5000000 rows x 8 columns]

In [11]:
####
# Loading test.csv into df_test

df_test = pd.read_csv("test.csv")

In [12]:
####
# Printing df_test

df_test

                              key  ... passenger_count
0     2015-01-27 13:08:24.0000002  ...               1
1     2015-01-27 13:08:24.0000003  ...               1
2     2011-10-08 11:53:44.0000002  ...               1
3     2012-12-01 21:12:12.0000002  ...               1
4     2012-12-01 21:12:12.0000003  ...               1
...                           ...  ...             ...
9909  2015-05-10 12:37:51.0000002  ...               6
9910  2015-01-12 17:05:51.0000001  ...               6
9911  2015-04-19 20:44:15.0000001  ...               6
9912  2015-01-31 01:05:19.0000005  ...               6
9913  2015-01-18 14:06:23.0000006  ...               6

[9914 rows x 7 columns]

In [13]:
#### 
# Copying train_df, test_df into another dataframes

train_df = df_train.copy()
test_df = df_test.copy()

In [14]:
####
# Let's get an understanding of our data
# Let's print a snapshot of our train data frame 
# train data frame

train_df

                                   key  ...  passenger_count
0          2009-06-15 17:26:21.0000001  ...                1
1          2010-01-05 16:52:16.0000002  ...                1
2         2011-08-18 00:35:00.00000049  ...                2
3          2012-04-21 04:30:42.0000001  ...                1
4        2010-03-09 07:51:00.000000135  ...                1
...                                ...  ...              ...
4999995    2011-01-24 21:33:44.0000003  ...                1
4999996  2013-10-11 12:12:00.000000118  ...                2
4999997    2014-12-06 23:04:28.0000002  ...                2
4999998    2015-05-30 19:01:24.0000004  ...                1
4999999  2012-07-11 08:12:00.000000102  ...                6

[5000000 rows x 8 columns]

In [15]:
####
# Printing types of columns in train data frame

print(train_df.dtypes)

key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

# **We have to add 'year', 'month', 'day', 'hour' as features from 'pickup_datetime' column into our train and test data frame.**

In [16]:
####
# This function adds 'year', 'month', 'day', 'hour' as features from 'pickup_datetime' column into the data frame

def add_date_time(df):
    # splits 'pickup_datetime' into 'year', 'month', 'day'
    df[['year', 'month', 'day']] = df.pickup_datetime.str.split(' ', expand=True).iloc[:,0].str.split('-', expand=True).astype('int64')
    # adds hour into the data frame
    df['hour'] = df.pickup_datetime.str.split(' ', expand=True).iloc[:,1].str.split(':', expand=True).iloc[:,0].astype('int64')

    return df

In [17]:
####
# Adds 'year', 'month', 'day', 'hour' as features from 'pickup_datetime' column into the train_df

train_df = add_date_time(train_df)

In [18]:
####
# Printing modified train_df

train_df

                                   key  fare_amount  ... day  hour
0          2009-06-15 17:26:21.0000001          4.5  ...  15    17
1          2010-01-05 16:52:16.0000002         16.9  ...   5    16
2         2011-08-18 00:35:00.00000049          5.7  ...  18     0
3          2012-04-21 04:30:42.0000001          7.7  ...  21     4
4        2010-03-09 07:51:00.000000135          5.3  ...   9     7
...                                ...          ...  ...  ..   ...
4999995    2011-01-24 21:33:44.0000003         16.5  ...  24    21
4999996  2013-10-11 12:12:00.000000118          9.0  ...  11    12
4999997    2014-12-06 23:04:28.0000002         10.5  ...   6    23
4999998    2015-05-30 19:01:24.0000004         10.0  ...  30    19
4999999  2012-07-11 08:12:00.000000102          4.9  ...  11     8

[5000000 rows x 12 columns]

In [19]:
####
# Let's get an understanding of our data
# Let's print a snapshot of our test data frame 
# test data frame

test_df

                              key  ... passenger_count
0     2015-01-27 13:08:24.0000002  ...               1
1     2015-01-27 13:08:24.0000003  ...               1
2     2011-10-08 11:53:44.0000002  ...               1
3     2012-12-01 21:12:12.0000002  ...               1
4     2012-12-01 21:12:12.0000003  ...               1
...                           ...  ...             ...
9909  2015-05-10 12:37:51.0000002  ...               6
9910  2015-01-12 17:05:51.0000001  ...               6
9911  2015-04-19 20:44:15.0000001  ...               6
9912  2015-01-31 01:05:19.0000005  ...               6
9913  2015-01-18 14:06:23.0000006  ...               6

[9914 rows x 7 columns]

In [20]:
####
# Printing types of columns in test data frame

print(test_df.dtypes)

key                   object
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [21]:
####
# Adds 'year', 'month', 'day', 'hour' as features from 'pickup_datetime' column into the train_df

test_df = add_date_time(test_df)

In [22]:
####
# Printing modified test_df

test_df

                              key          pickup_datetime  ...  day  hour
0     2015-01-27 13:08:24.0000002  2015-01-27 13:08:24 UTC  ...   27    13
1     2015-01-27 13:08:24.0000003  2015-01-27 13:08:24 UTC  ...   27    13
2     2011-10-08 11:53:44.0000002  2011-10-08 11:53:44 UTC  ...    8    11
3     2012-12-01 21:12:12.0000002  2012-12-01 21:12:12 UTC  ...    1    21
4     2012-12-01 21:12:12.0000003  2012-12-01 21:12:12 UTC  ...    1    21
...                           ...                      ...  ...  ...   ...
9909  2015-05-10 12:37:51.0000002  2015-05-10 12:37:51 UTC  ...   10    12
9910  2015-01-12 17:05:51.0000001  2015-01-12 17:05:51 UTC  ...   12    17
9911  2015-04-19 20:44:15.0000001  2015-04-19 20:44:15 UTC  ...   19    20
9912  2015-01-31 01:05:19.0000005  2015-01-31 01:05:19 UTC  ...   31     1
9913  2015-01-18 14:06:23.0000006  2015-01-18 14:06:23 UTC  ...   18    14

[9914 rows x 11 columns]

In [23]:
####
# Dropping Columns "pickup_datetime","key" from train_df as they are not used as features in our model

train_df.drop(columns=["pickup_datetime","key"], axis=1, inplace=True)

In [24]:
####
# Dropping Column "pickup_datetime" from test_df as it is not used as feature in our model

test_df.drop(columns=["pickup_datetime"], axis=1, inplace=True)

In [25]:
####
# Printing modified train_df

train_df

         fare_amount  pickup_longitude  pickup_latitude  ...  month  day  hour
0                4.5        -73.844311        40.721319  ...      6   15    17
1               16.9        -74.016048        40.711303  ...      1    5    16
2                5.7        -73.982738        40.761270  ...      8   18     0
3                7.7        -73.987130        40.733143  ...      4   21     4
4                5.3        -73.968095        40.768008  ...      3    9     7
...              ...               ...              ...  ...    ...  ...   ...
4999995         16.5        -74.003883        40.725772  ...      1   24    21
4999996          9.0        -73.995105        40.739897  ...     10   11    12
4999997         10.5        -73.981063        40.764125  ...     12    6    23
4999998         10.0        -73.965401        40.759140  ...      5   30    19
4999999          4.9        -73.972595        40.743177  ...      7   11     8

[5000000 rows x 10 columns]

In [26]:
####
# Printing modified test_df

test_df

                              key  pickup_longitude  ...  day  hour
0     2015-01-27 13:08:24.0000002        -73.973320  ...   27    13
1     2015-01-27 13:08:24.0000003        -73.986862  ...   27    13
2     2011-10-08 11:53:44.0000002        -73.982524  ...    8    11
3     2012-12-01 21:12:12.0000002        -73.981160  ...    1    21
4     2012-12-01 21:12:12.0000003        -73.966046  ...    1    21
...                           ...               ...  ...  ...   ...
9909  2015-05-10 12:37:51.0000002        -73.968124  ...   10    12
9910  2015-01-12 17:05:51.0000001        -73.945511  ...   12    17
9911  2015-04-19 20:44:15.0000001        -73.991600  ...   19    20
9912  2015-01-31 01:05:19.0000005        -73.985573  ...   31     1
9913  2015-01-18 14:06:23.0000006        -73.988022  ...   18    14

[9914 rows x 10 columns]

# **Check if there are any Null Values in any column of our data**

In [27]:
####
# Checking if there are any Null Values in any column of our train_df

train_df.isnull().sum()

fare_amount           0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude    36
dropoff_latitude     36
passenger_count       0
year                  0
month                 0
day                   0
hour                  0
dtype: int64

In [28]:
####
# Checking if there are any Null Values in any column of our test_df

test_df.isnull().sum()

key                  0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
passenger_count      0
year                 0
month                0
day                  0
hour                 0
dtype: int64

In [29]:
####
# Dropping Null Values in the train data

train_df.dropna(inplace=True)

In [30]:
####
# Printing modified train_df

train_df

         fare_amount  pickup_longitude  pickup_latitude  ...  month  day  hour
0                4.5        -73.844311        40.721319  ...      6   15    17
1               16.9        -74.016048        40.711303  ...      1    5    16
2                5.7        -73.982738        40.761270  ...      8   18     0
3                7.7        -73.987130        40.733143  ...      4   21     4
4                5.3        -73.968095        40.768008  ...      3    9     7
...              ...               ...              ...  ...    ...  ...   ...
4999995         16.5        -74.003883        40.725772  ...      1   24    21
4999996          9.0        -73.995105        40.739897  ...     10   11    12
4999997         10.5        -73.981063        40.764125  ...     12    6    23
4999998         10.0        -73.965401        40.759140  ...      5   30    19
4999999          4.9        -73.972595        40.743177  ...      7   11     8

[4999964 rows x 10 columns]

In [31]:
####
# Lets look at the statistics of our train data

train_df.describe()

        fare_amount  pickup_longitude  ...           day          hour
count  4.999964e+06      4.999964e+06  ...  4.999964e+06  4.999964e+06
mean   1.134074e+01     -7.250681e+01  ...  1.572073e+01  1.351062e+01
std    9.820066e+00      1.280962e+01  ...  8.684429e+00  6.516342e+00
min   -1.000000e+02     -3.426609e+03  ...  1.000000e+00  0.000000e+00
25%    6.000000e+00     -7.399206e+01  ...  8.000000e+00  9.000000e+00
50%    8.500000e+00     -7.398181e+01  ...  1.600000e+01  1.400000e+01
75%    1.250000e+01     -7.396711e+01  ...  2.300000e+01  1.900000e+01
max    1.273310e+03      3.439426e+03  ...  3.100000e+01  2.300000e+01

[8 rows x 10 columns]

In [32]:
####
# Printing test_df

test_df

                              key  pickup_longitude  ...  day  hour
0     2015-01-27 13:08:24.0000002        -73.973320  ...   27    13
1     2015-01-27 13:08:24.0000003        -73.986862  ...   27    13
2     2011-10-08 11:53:44.0000002        -73.982524  ...    8    11
3     2012-12-01 21:12:12.0000002        -73.981160  ...    1    21
4     2012-12-01 21:12:12.0000003        -73.966046  ...    1    21
...                           ...               ...  ...  ...   ...
9909  2015-05-10 12:37:51.0000002        -73.968124  ...   10    12
9910  2015-01-12 17:05:51.0000001        -73.945511  ...   12    17
9911  2015-04-19 20:44:15.0000001        -73.991600  ...   19    20
9912  2015-01-31 01:05:19.0000005        -73.985573  ...   31     1
9913  2015-01-18 14:06:23.0000006        -73.988022  ...   18    14

[9914 rows x 10 columns]

In [33]:
####
# Lets look at the statistics of our test data

test_df.describe()

       pickup_longitude  pickup_latitude  ...          day         hour
count       9914.000000      9914.000000  ...  9914.000000  9914.000000
mean         -73.974722        40.751041  ...    16.194170    13.467420
std            0.042774         0.033541  ...     8.838482     6.868584
min          -74.252193        40.573143  ...     1.000000     0.000000
25%          -73.992501        40.736125  ...     9.000000     8.000000
50%          -73.982326        40.753051  ...    16.000000    15.000000
75%          -73.968013        40.767113  ...    25.000000    19.000000
max          -72.986532        41.709555  ...    31.000000    23.000000

[8 rows x 9 columns]

# **There are many Outliers in our train data.**

# **We have to remove them so that our model performs better.**

# **We will remove the Outliers Column by Column.**

# **1. Passenger Count**

# **We drop the rows in train data where passenger_count is more than 6 (practically not possible).**

In [34]:
####
# Dropping the Rows where passenger_count > 6 in train_df

train_df = train_df.drop(train_df[train_df['passenger_count']>6].index, axis=0)

In [35]:
####
# Printing modified train_df

train_df

         fare_amount  pickup_longitude  pickup_latitude  ...  month  day  hour
0                4.5        -73.844311        40.721319  ...      6   15    17
1               16.9        -74.016048        40.711303  ...      1    5    16
2                5.7        -73.982738        40.761270  ...      8   18     0
3                7.7        -73.987130        40.733143  ...      4   21     4
4                5.3        -73.968095        40.768008  ...      3    9     7
...              ...               ...              ...  ...    ...  ...   ...
4999995         16.5        -74.003883        40.725772  ...      1   24    21
4999996          9.0        -73.995105        40.739897  ...     10   11    12
4999997         10.5        -73.981063        40.764125  ...     12    6    23
4999998         10.0        -73.965401        40.759140  ...      5   30    19
4999999          4.9        -73.972595        40.743177  ...      7   11     8

[4999952 rows x 10 columns]

# **As the data is about taxi in New York City, we consider only the longitude and latitude in the range of New York City.**

# **The Latitude and Longitude of New York City is approximately taken from**

# **Latitude : (40.4,41.0)**

# **Longitude : (-74.2,-73.7)**

# **2. Pickup Longitude**

In [36]:
####
# Dropping 'pickup_longitude' other than in New York City

train_df = train_df.drop(train_df[train_df['pickup_longitude']<-74.2].index, axis=0)
train_df = train_df.drop(train_df[train_df['pickup_longitude']>-73.7].index, axis=0)

In [37]:
####
# Dropping 'dropoff_longitude' other than in New York City

train_df = train_df.drop(train_df[train_df['dropoff_longitude']<-74.2].index, axis=0)
train_df = train_df.drop(train_df[train_df['dropoff_longitude']>-73.7].index, axis=0)

In [38]:
####
# Dropping 'pickup_latitude' other than in New York City

train_df = train_df.drop(train_df[train_df['pickup_latitude']<40.4].index, axis=0)
train_df = train_df.drop(train_df[train_df['pickup_latitude']>41.0].index, axis=0)

In [39]:
####
# Dropping 'dropoff_latitude' other than in New York City

train_df = train_df.drop(train_df[train_df['dropoff_latitude']<40.4].index, axis=0)
train_df = train_df.drop(train_df[train_df['dropoff_latitude']>41.0].index, axis=0)

In [40]:
####
# Printing Modified train_df

train_df

         fare_amount  pickup_longitude  pickup_latitude  ...  month  day  hour
0                4.5        -73.844311        40.721319  ...      6   15    17
1               16.9        -74.016048        40.711303  ...      1    5    16
2                5.7        -73.982738        40.761270  ...      8   18     0
3                7.7        -73.987130        40.733143  ...      4   21     4
4                5.3        -73.968095        40.768008  ...      3    9     7
...              ...               ...              ...  ...    ...  ...   ...
4999995         16.5        -74.003883        40.725772  ...      1   24    21
4999996          9.0        -73.995105        40.739897  ...     10   11    12
4999997         10.5        -73.981063        40.764125  ...     12    6    23
4999998         10.0        -73.965401        40.759140  ...      5   30    19
4999999          4.9        -73.972595        40.743177  ...      7   11     8

[4888546 rows x 10 columns]

# **3. Fare Amount**

# **Generally Fare Amount lies in between 2 to 100.**

In [41]:
####
# Dropping 'fare_amount' other than 2 to 100

train_df = train_df.drop(train_df[train_df['fare_amount']<=2].index, axis=0)
train_df = train_df.drop(train_df[train_df['fare_amount']>100].index, axis=0)

In [42]:
####
# Printing Modified train_df

train_df

         fare_amount  pickup_longitude  pickup_latitude  ...  month  day  hour
0                4.5        -73.844311        40.721319  ...      6   15    17
1               16.9        -74.016048        40.711303  ...      1    5    16
2                5.7        -73.982738        40.761270  ...      8   18     0
3                7.7        -73.987130        40.733143  ...      4   21     4
4                5.3        -73.968095        40.768008  ...      3    9     7
...              ...               ...              ...  ...    ...  ...   ...
4999995         16.5        -74.003883        40.725772  ...      1   24    21
4999996          9.0        -73.995105        40.739897  ...     10   11    12
4999997         10.5        -73.981063        40.764125  ...     12    6    23
4999998         10.0        -73.965401        40.759140  ...      5   30    19
4999999          4.9        -73.972595        40.743177  ...      7   11     8

[4887307 rows x 10 columns]

# **Now, we have to split train_df into train_x (contains only features) and train_y (contains only labels).**

In [43]:
####
# Copying train_df into a new Data Frame

train_x = train_df.copy()

In [44]:
####
# Extracting 'fare_amount' Column into train_y list

train_y = train_df['fare_amount'].to_list()

# Dropping 'fare_amount' Column from train_x Data Frame

train_x.drop(columns=['fare_amount'],axis=1,inplace = True)

In [45]:
####
# Copying test_df into a new Data Frame

test_x = test_df.copy()

In [46]:
####
# Extracting 'key' Column into test_id list

test_key = test_df["key"].to_list()

# Dropping 'key' Column from test_x Data Frame

test_x.drop(columns=["key"],axis=1,inplace = True)

In [47]:
####
# Printing test_key

test_key

['2015-01-27 13:08:24.0000002',
 '2015-01-27 13:08:24.0000003',
 '2011-10-08 11:53:44.0000002',
 '2012-12-01 21:12:12.0000002',
 '2012-12-01 21:12:12.0000003',
 '2012-12-01 21:12:12.0000005',
 '2011-10-06 12:10:20.0000001',
 '2011-10-06 12:10:20.0000003',
 '2011-10-06 12:10:20.0000002',
 '2014-02-18 15:22:20.0000002',
 '2014-02-18 15:22:20.0000003',
 '2014-02-18 15:22:20.0000001',
 '2010-03-29 20:20:32.0000002',
 '2010-03-29 20:20:32.0000001',
 '2011-10-06 03:59:12.0000002',
 '2011-10-06 03:59:12.0000001',
 '2012-07-15 16:45:04.0000006',
 '2012-07-15 16:45:04.0000002',
 '2012-07-15 16:45:04.0000003',
 '2012-07-15 16:45:04.0000004',
 '2014-10-29 02:09:56.0000001',
 '2014-06-14 13:39:00.00000010',
 '2014-06-14 13:39:00.00000060',
 '2014-06-14 13:39:00.00000087',
 '2014-06-14 13:39:00.00000050',
 '2014-06-14 13:39:00.0000003',
 '2014-06-14 13:39:00.000000158',
 '2014-06-14 13:39:00.00000015',
 '2014-06-14 13:39:00.00000073',
 '2014-06-14 13:39:00.00000077',
 '2014-06-14 13:39:00.000000145',
 '2014-06-14 13:39:00.00000079',
 '2014-06-14 13:39:00.000000121',
 '2014-06-14 13:39:00.00000021',
 '2014-06-14 13:39:00.0000005',
 '2014-06-14 13:39:00.000000165',
 '2014-06-14 13:39:00.000000184',
 '2014-06-14 13:39:00.00000059',
 '2014-06-14 13:39:00.00000070',
 '2014-06-14 13:39:00.00000068',
 '2014-06-14 13:39:00.000000133',
 '2014-06-14 13:39:00.000000128',
 '2014-06-14 13:39:00.000000136',
 '2014-06-14 13:39:00.00000017',
 '2014-06-14 13:39:00.000000111',
 '2014-06-14 13:39:00.000000115',
 '2014-06-14 13:39:00.000000168',
 '2014-06-14 13:39:00.00000031',
 '2014-06-14 13:39:00.000000116',
 '2014-06-14 13:39:00.00000051',
 '2014-06-14 13:39:00.000000193',
 '2014-06-14 13:39:00.000000132',
 '2014-06-14 13:39:00.000000167',
 '2014-06-14 13:39:00.00000044',
 '2014-06-14 13:39:00.000000138',
 '2014-06-14 13:39:00.00000066',
 '2014-06-14 13:39:00.00000063',
 '2014-06-14 13:39:00.000000154',
 '2014-06-14 13:39:00.00000097',
 '2014-06-14 13:39:00.00000067',
 '2014-06-14 13:39:00.000000179',
 '2014-06-14 13:39:00.00000092',
 '2014-06-14 13:39:00.00000029',
 '2014-06-14 13:39:00.000000177',
 '2014-06-14 13:39:00.000000192',
 '2014-06-14 13:39:00.000000181',
 '2014-06-14 13:39:00.000000120',
 '2014-06-14 13:39:00.0000008',
 '2014-06-14 13:39:00.000000103',
 '2014-06-14 13:39:00.00000049',
 '2014-06-14 13:39:00.000000108',
 '2014-06-14 13:39:00.00000072',
 '2014-06-14 13:39:00.000000182',
 '2014-06-14 13:39:00.00000061',
 '2014-06-14 13:39:00.00000093',
 '2014-06-14 13:39:00.000000170',
 '2014-06-14 13:39:00.000000147',
 '2014-06-14 13:39:00.000000140',
 '2014-06-14 13:39:00.000000159',
 '2014-06-14 13:39:00.00000012',
 '2014-06-14 13:39:00.00000025',
 '2014-06-14 13:39:00.000000156',
 '2014-06-14 13:39:00.000000152',
 '2014-06-14 13:39:00.000000129',
 '2014-06-14 13:39:00.000000119',
 '2014-06-14 13:39:00.000000118',
 '2014-06-14 13:39:00.00000076',
 '2014-06-14 13:39:00.000000135',
 '2014-06-14 13:39:00.00000023',
 '2014-06-14 13:39:00.00000082',
 '2014-06-14 13:39:00.000000125',
 '2014-06-14 13:39:00.00000075',
 '2014-06-14 13:39:00.000000124',
 '2014-06-14 13:39:00.000000172',
 '2014-06-14 13:39:00.00000024',
 '2014-06-14 13:39:00.000000169',
 '2014-06-14 13:39:00.00000052',
 '2014-06-14 13:39:00.000000161',
 '2014-06-14 13:39:00.00000038',
 '2014-06-14 13:39:00.00000035',
 '2014-06-14 13:39:00.00000053',
 '2014-06-14 13:39:00.000000183',
 '2014-06-14 13:39:00.000000131',
 '2014-06-14 13:39:00.000000180',
 '2014-06-14 13:39:00.000000130',
 '2014-06-14 13:39:00.00000032',
 '2014-06-14 13:39:00.000000148',
 '2014-06-14 13:39:00.0000007',
 '2014-06-14 13:39:00.00000095',
 '2014-06-14 13:39:00.000000144',
 '2014-06-14 13:39:00.000000141',
 '2014-06-14 13:39:00.000000162',
 '2014-06-14 13:39:00.00000018',
 '2014-06-14 13:39:00.00000054',
 '2014-06-14 13:39:00.00000040',
 '2014-06-14 13:39:00.00000096',
 '2014-06-14 13:39:00.00000055',
 '2014-06-14 13:39:00.000000109',
 '2014-06-14 13:39:00.000000151',
 '2014-06-14 13:39:00.00000016',
 '2014-06-14 13:39:00.00000062',
 '2014-06-14 13:39:00.000000191',
 '2014-06-14 13:39:00.00000034',
 '2014-06-14 13:39:00.000000160',
 '2014-06-14 13:39:00.00000013',
 '2014-06-14 13:39:00.000000188',
 '2014-06-14 13:39:00.00000086',
 '2014-06-14 13:39:00.000000185',
 '2014-06-14 13:39:00.00000074',
 '2014-06-14 13:39:00.00000022',
 '2014-06-14 13:39:00.00000036',
 '2014-06-14 13:39:00.000000126',
 '2014-06-14 13:39:00.000000190',
 '2014-06-14 13:39:00.00000042',
 '2014-06-14 13:39:00.000000178',
 '2014-06-14 13:39:00.000000163',
 '2014-06-14 13:39:00.00000020',
 '2014-06-14 13:39:00.00000098',
 '2014-06-14 13:39:00.000000114',
 '2014-06-14 13:39:00.00000045',
 '2014-06-14 13:39:00.00000094',
 '2014-06-14 13:39:00.000000146',
 '2014-06-14 13:39:00.00000033',
 '2014-06-14 13:39:00.000000143',
 '2014-06-14 13:39:00.000000107',
 '2014-06-14 13:39:00.00000048',
 '2014-06-14 13:39:00.00000043',
 '2014-06-14 13:39:00.000000123',
 '2014-06-14 13:39:00.000000134',
 '2014-06-14 13:39:00.000000142',
 '2014-06-14 13:39:00.000000122',
 '2014-06-14 13:39:00.000000176',
 '2011-12-12 09:42:12.0000004',
 '2011-12-12 09:42:12.0000002',
 '2011-12-12 09:42:12.0000001',
 '2011-12-12 09:42:12.0000003',
 '2011-12-12 09:42:12.0000005',
 '2013-06-27 00:20:40.0000001',
 '2013-06-27 00:20:40.0000003',
 '2009-02-20 13:34:16.0000001',
 '2009-02-20 13:34:16.0000002',
 '2009-02-20 13:34:16.0000003',
 '2010-08-22 21:14:08.0000001',
 '2010-08-22 21:14:08.0000005',
 '2010-08-22 21:14:08.0000003',
 '2010-08-22 21:14:08.0000002',
 '2012-08-06 08:58:08.0000002',
 '2012-08-06 08:58:08.0000001',
 '2013-11-04 08:34:12.0000003',
 '2013-11-04 08:34:12.0000001',
 '2013-11-04 08:34:12.0000002',
 '2011-06-24 20:34:48.0000002',
 '2011-06-24 20:34:48.0000001',
 '2011-03-28 20:38:36.0000003',
 '2011-03-28 20:38:36.0000004',
 '2011-03-28 20:38:36.0000002',
 '2011-08-14 20:36:28.0000004',
 '2011-08-14 20:36:28.0000001',
 '2011-08-14 20:36:28.0000003',
 '2011-08-14 20:36:28.0000002',
 '2015-02-21 15:52:44.0000004',
 '2015-02-21 15:52:44.0000003',
 '2015-02-21 15:52:44.0000002',
 '2015-02-21 15:52:44.0000001',
 '2013-01-29 11:29:52.0000001',
 '2014-09-12 19:03:48.0000001',
 '2013-11-09 18:52:40.0000004',
 '2013-11-09 18:52:40.0000002',
 '2013-04-25 16:10:04.0000001',
 '2013-04-25 16:10:04.0000002',
 '2013-09-07 14:37:52.0000001',
 '2013-09-07 14:37:52.0000002',
 '2013-09-07 14:37:52.0000003',
 '2011-05-21 13:16:20.0000004',
 '2011-05-21 13:16:20.0000001',
 '2011-05-21 13:16:20.0000003',
 '2011-11-25 16:36:24.0000002',
 '2011-11-25 16:36:24.0000001',
 '2015-01-31 20:54:04.0000001',
 '2010-11-01 23:31:28.0000002',
 '2010-11-01 23:31:28.0000001',
 '2010-11-01 23:31:28.0000003',
 '2011-03-24 15:57:04.0000003',
 '2011-03-24 15:57:04.0000001',
 '2010-05-10 10:37:04.0000005',
 '2010-05-10 10:37:04.0000002',
 '2010-05-10 10:37:04.0000003',
 '2010-05-10 10:37:04.0000006',
 '2012-06-09 16:53:44.0000002',
 '2012-08-22 22:39:20.0000003',
 '2012-08-22 22:39:20.0000001',
 '2012-12-23 02:29:16.0000001',
 '2012-06-30 15:55:12.0000004',
 '2012-06-30 15:55:12.0000002',
 '2012-06-30 15:55:12.0000003',
 '2012-06-30 15:55:12.0000001',
 '2011-10-02 23:36:00.00000056',
 '2011-10-02 23:36:00.00000086',
 '2011-10-02 23:36:00.00000081',
 '2011-10-02 23:36:00.0000009',
 '2011-10-02 23:36:00.00000041',
 '2011-10-02 23:36:00.00000091',
 '2011-10-02 23:36:00.0000008',
 '2011-10-02 23:36:00.00000015',
 '2011-10-02 23:36:00.00000014',
 '2011-10-02 23:36:00.00000047',
 '2011-10-02 23:36:00.00000076',
 '2011-10-02 23:36:00.00000011',
 '2011-10-02 23:36:00.00000075',
 '2011-10-02 23:36:00.00000035',
 '2011-10-02 23:36:00.00000099',
 '2011-10-02 23:36:00.00000062',
 '2011-10-02 23:36:00.00000085',
 '2011-10-02 23:36:00.00000043',
 '2011-10-02 23:36:00.00000071',
 '2011-10-02 23:36:00.00000023',
 '2011-10-02 23:36:00.00000092',
 '2011-10-02 23:36:00.00000037',
 '2011-10-02 23:36:00.00000083',
 '2011-10-02 23:36:00.00000054',
 '2011-10-02 23:36:00.00000073',
 '2011-10-02 23:36:00.0000005',
 '2011-10-02 23:36:00.00000095',
 '2011-10-02 23:36:00.00000088',
 '2011-10-02 23:36:00.00000030',
 '2011-10-02 23:36:00.0000007',
 '2011-10-02 23:36:00.00000013',
 '2011-10-02 23:36:00.00000065',
 '2011-10-02 23:36:00.00000089',
 '2011-10-02 23:36:00.00000096',
 '2011-10-02 23:36:00.00000039',
 '2011-10-02 23:36:00.00000038',
 '2011-10-02 23:36:00.00000067',
 '2011-10-02 23:36:00.00000077',
 '2011-10-02 23:36:00.00000020',
 '2011-10-02 23:36:00.00000063',
 '2011-10-02 23:36:00.00000012',
 '2011-10-02 23:36:00.00000058',
 '2011-10-02 23:36:00.00000026',
 '2011-10-02 23:36:00.00000074',
 '2011-10-02 23:36:00.00000059',
 '2011-10-02 23:36:00.00000090',
 '2011-10-02 23:36:00.0000004',
 '2011-10-02 23:36:00.0000003',
 '2011-10-02 23:36:00.00000021',
 '2011-10-02 23:36:00.00000097',
 '2011-10-02 23:36:00.00000036',
 '2011-10-02 23:36:00.00000024',
 '2011-10-02 23:36:00.00000082',
 '2011-10-02 23:36:00.000000100',
 '2011-10-02 23:36:00.00000040',
 '2011-10-02 23:36:00.00000022',
 '2013-03-21 12:47:28.0000006',
 '2013-03-21 12:47:28.0000008',
 '2013-03-21 12:47:28.0000003',
 '2013-03-21 12:47:28.0000005',
 '2013-03-21 12:47:28.0000002',
 '2013-06-07 03:02:56.0000002',
 '2013-06-07 03:02:56.0000001',
 '2010-09-05 22:31:32.0000002',
 '2013-07-12 23:33:24.0000001',
 '2009-12-03 02:32:08.0000001',
 '2009-10-15 03:50:36.0000001',
 '2011-09-25 22:36:32.0000002',
 '2011-09-25 22:36:32.0000001',
 '2015-06-08 20:02:56.0000001',
 '2014-07-16 08:03:32.0000002',
 '2014-07-16 08:03:32.0000001',
 '2011-12-15 13:14:32.0000002',
 '2011-12-15 13:14:32.0000001',
 '2011-10-11 22:13:48.0000002',
 '2011-10-11 22:13:48.0000005',
 '2011-10-11 22:13:48.0000003',
 '2013-09-14 16:53:20.0000001',
 '2013-09-14 16:53:20.0000002',
 '2014-02-06 09:09:56.0000004',
 '2014-02-06 09:09:56.0000003',
 '2014-02-06 09:09:56.0000001',
 '2009-06-10 16:55:00.00000081',
 '2009-06-10 16:55:00.00000029',
 '2009-06-10 16:55:00.000000109',
 '2009-06-10 16:55:00.00000098',
 '2009-06-10 16:55:00.00000054',
 '2009-06-10 16:55:00.00000021',
 '2009-06-10 16:55:00.00000012',
 '2009-06-10 16:55:00.00000033',
 '2009-06-10 16:55:00.00000024',
 '2009-06-10 16:55:00.00000099',
 '2009-06-10 16:55:00.0000009',
 '2009-06-10 16:55:00.000000158',
 '2009-06-10 16:55:00.000000141',
 '2009-06-10 16:55:00.00000093',
 '2009-06-10 16:55:00.000000161',
 '2009-06-10 16:55:00.00000088',
 '2009-06-10 16:55:00.0000003',
 '2009-06-10 16:55:00.00000018',
 '2009-06-10 16:55:00.00000047',
 '2009-06-10 16:55:00.000000154',
 '2009-06-10 16:55:00.000000131',
 '2009-06-10 16:55:00.00000046',
 '2009-06-10 16:55:00.0000004',
 '2009-06-10 16:55:00.000000107',
 '2009-06-10 16:55:00.000000114',
 '2009-06-10 16:55:00.000000117',
 '2009-06-10 16:55:00.000000162',
 '2009-06-10 16:55:00.00000049',
 '2009-06-10 16:55:00.00000069',
 '2009-06-10 16:55:00.000000111',
 '2009-06-10 16:55:00.00000083',
 '2009-06-10 16:55:00.000000166',
 '2009-06-10 16:55:00.000000135',
 '2009-06-10 16:55:00.00000044',
 '2009-06-10 16:55:00.00000085',
 '2009-06-10 16:55:00.000000115',
 '2009-06-10 16:55:00.000000108',
 '2009-06-10 16:55:00.00000034',
 '2009-06-10 16:55:00.00000060',
 '2009-06-10 16:55:00.000000120',
 '2009-06-10 16:55:00.000000174',
 '2009-06-10 16:55:00.0000007',
 '2009-06-10 16:55:00.000000159',
 '2009-06-10 16:55:00.000000171',
 '2009-06-10 16:55:00.000000145',
 '2009-06-10 16:55:00.00000074',
 '2009-06-10 16:55:00.000000138',
 '2009-06-10 16:55:00.00000048',
 '2009-06-10 16:55:00.000000101',
 '2009-06-10 16:55:00.000000153',
 '2009-06-10 16:55:00.0000002',
 '2009-06-10 16:55:00.00000037',
 '2009-06-10 16:55:00.000000151',
 '2009-06-10 16:55:00.000000127',
 '2009-06-10 16:55:00.000000144',
 '2009-06-10 16:55:00.000000165',
 '2009-06-10 16:55:00.0000008',
 '2009-06-10 16:55:00.000000122',
 '2009-06-10 16:55:00.00000055',
 '2009-06-10 16:55:00.00000079',
 '2009-06-10 16:55:00.00000016',
 '2009-06-10 16:55:00.000000160',
 '2009-06-10 16:55:00.000000139',
 '2009-06-10 16:55:00.00000075',
 '2009-06-10 16:55:00.00000017',
 '2009-06-10 16:55:00.00000070',
 '2009-06-10 16:55:00.000000118',
 '2009-06-10 16:55:00.00000066',
 '2009-06-10 16:55:00.000000164',
 '2009-06-10 16:55:00.000000100',
 '2009-06-10 16:55:00.00000082',
 '2009-06-10 16:55:00.00000090',
 '2009-06-10 16:55:00.000000125',
 '2009-06-10 16:55:00.000000149',
 '2009-06-10 16:55:00.00000068',
 '2009-06-10 16:55:00.00000039',
 '2009-06-10 16:55:00.000000124',
 '2009-06-10 16:55:00.00000053',
 '2009-06-10 16:55:00.00000045',
 '2009-06-10 16:55:00.000000102',
 '2009-06-10 16:55:00.000000140',
 '2009-06-10 16:55:00.000000148',
 '2009-06-10 16:55:00.000000147',
 '2009-06-10 16:55:00.00000097',
 '2009-06-10 16:55:00.00000094',
 '2009-06-10 16:55:00.00000078',
 '2009-06-10 16:55:00.00000035',
 '2009-06-10 16:55:00.00000072',
 '2009-06-10 16:55:00.00000031',
 '2009-06-10 16:55:00.00000056',
 '2009-06-10 16:55:00.000000128',
 '2009-06-10 16:55:00.00000057',
 '2009-06-10 16:55:00.00000030',
 '2009-06-10 16:55:00.00000043',
 '2009-06-10 16:55:00.000000146',
 '2009-06-10 16:55:00.00000010',
 '2009-06-10 16:55:00.00000067',
 '2009-06-10 16:55:00.000000119',
 '2009-06-10 16:55:00.00000076',
 '2009-06-10 16:55:00.00000025',
 '2009-06-10 16:55:00.00000071',
 '2009-06-10 16:55:00.000000143',
 '2013-06-26 11:19:36.0000002',
 '2014-09-05 10:02:48.0000004',
 '2014-09-05 10:02:48.0000002',
 '2014-09-05 10:02:48.0000001',
 '2014-09-05 10:02:48.0000003',
 '2012-09-19 12:31:40.0000001',
 '2012-09-19 12:31:40.0000002',
 '2009-03-22 04:31:40.0000002',
 '2009-08-27 02:31:44.0000001',
 '2009-05-02 20:11:32.0000001',
 '2009-05-02 20:11:32.0000004',
 '2011-02-20 02:31:16.0000002',
 '2011-02-20 02:31:16.0000001',
 '2011-06-24 12:03:00.00000010',
 '2011-06-24 12:03:00.00000067',
 '2011-06-24 12:03:00.00000071',
 '2011-06-24 12:03:00.000000100',
 '2011-06-24 12:03:00.000000145',
 '2011-06-24 12:03:00.000000152',
 '2011-06-24 12:03:00.00000026',
 '2011-06-24 12:03:00.000000199',
 '2011-06-24 12:03:00.000000195',
 '2011-06-24 12:03:00.000000119',
 '2011-06-24 12:03:00.00000086',
 '2011-06-24 12:03:00.00000012',
 '2011-06-24 12:03:00.00000097',
 '2011-06-24 12:03:00.00000058',
 '2011-06-24 12:03:00.000000176',
 '2011-06-24 12:03:00.000000139',
 '2011-06-24 12:03:00.00000048',
 '2011-06-24 12:03:00.000000159',
 '2011-06-24 12:03:00.00000079',
 '2011-06-24 12:03:00.000000138',
 '2011-06-24 12:03:00.000000135',
 '2011-06-24 12:03:00.000000173',
 '2011-06-24 12:03:00.000000162',
 '2011-06-24 12:03:00.00000018',
 '2011-06-24 12:03:00.000000136',
 '2011-06-24 12:03:00.000000185',
 '2011-06-24 12:03:00.00000069',
 '2011-06-24 12:03:00.000000105',
 '2011-06-24 12:03:00.000000180',
 '2011-06-24 12:03:00.00000053',
 '2011-06-24 12:03:00.000000142',
 '2011-06-24 12:03:00.000000188',
 '2011-06-24 12:03:00.00000089',
 '2011-06-24 12:03:00.000000109',
 '2011-06-24 12:03:00.00000074',
 '2011-06-24 12:03:00.000000113',
 '2011-06-24 12:03:00.00000044',
 '2011-06-24 12:03:00.000000183',
 '2011-06-24 12:03:00.00000047',
 '2011-06-24 12:03:00.0000006',
 '2011-06-24 12:03:00.0000005',
 '2011-06-24 12:03:00.000000200',
 '2011-06-24 12:03:00.000000127',
 '2011-06-24 12:03:00.000000120',
 '2011-06-24 12:03:00.000000133',
 '2011-06-24 12:03:00.00000073',
 '2011-06-24 12:03:00.000000101',
 '2011-06-24 12:03:00.000000187',
 '2011-06-24 12:03:00.000000122',
 '2011-06-24 12:03:00.000000175',
 '2011-06-24 12:03:00.000000154',
 '2011-06-24 12:03:00.000000197',
 '2011-06-24 12:03:00.00000017',
 '2011-06-24 12:03:00.000000186',
 '2011-06-24 12:03:00.00000020',
 '2011-06-24 12:03:00.00000035',
 '2011-06-24 12:03:00.000000193',
 '2011-06-24 12:03:00.000000201',
 '2011-06-24 12:03:00.00000054',
 '2011-06-24 12:03:00.00000075',
 '2011-06-24 12:03:00.000000114',
 '2011-06-24 12:03:00.00000062',
 '2011-06-24 12:03:00.00000055',
 '2011-06-24 12:03:00.00000025',
 '2011-06-24 12:03:00.00000022',
 '2011-06-24 12:03:00.000000144',
 '2011-06-24 12:03:00.000000177',
 '2011-06-24 12:03:00.000000124',
 '2011-06-24 12:03:00.00000094',
 '2011-06-24 12:03:00.00000041',
 '2011-06-24 12:03:00.000000141',
 '2011-06-24 12:03:00.00000092',
 '2011-06-24 12:03:00.000000189',
 '2011-06-24 12:03:00.000000171',
 '2011-06-24 12:03:00.000000157',
 '2011-06-24 12:03:00.000000179',
 '2011-06-24 12:03:00.000000107',
 '2011-06-24 12:03:00.00000095',
 '2011-06-24 12:03:00.00000076',
 '2011-06-24 12:03:00.000000156',
 '2011-06-24 12:03:00.000000111',
 '2011-06-24 12:03:00.000000116',
 '2011-06-24 12:03:00.00000033',
 '2011-06-24 12:03:00.00000082',
 '2011-06-24 12:03:00.00000078',
 '2011-06-24 12:03:00.00000051',
 '2011-06-24 12:03:00.000000143',
 '2011-06-24 12:03:00.000000126',
 '2011-06-24 12:03:00.00000088',
 '2011-06-24 12:03:00.000000191',
 '2011-06-24 12:03:00.00000063',
 '2011-06-24 12:03:00.00000045',
 '2011-06-24 12:03:00.00000060',
 '2011-06-24 12:03:00.00000040',
 '2011-06-24 12:03:00.00000057',
 '2011-06-24 12:03:00.00000013',
 '2011-06-24 12:03:00.00000068',
 '2011-06-24 12:03:00.000000165',
 '2011-06-24 12:03:00.00000056',
 '2011-06-24 12:03:00.000000150',
 '2011-06-24 12:03:00.00000052',
 '2011-06-24 12:03:00.00000085',
 '2011-06-24 12:03:00.000000190',
 '2011-06-24 12:03:00.00000072',
 '2011-06-24 12:03:00.000000137',
 '2011-06-24 12:03:00.000000102',
 '2011-06-24 12:03:00.000000106',
 '2011-06-24 12:03:00.000000118',
 '2011-06-24 12:03:00.00000046',
 '2011-06-24 12:03:00.000000110',
 '2011-06-24 12:03:00.000000181',
 '2011-06-24 12:03:00.000000194',
 '2011-06-24 12:03:00.00000061',
 '2011-06-24 12:03:00.0000001',
 '2011-06-24 12:03:00.00000087',
 '2011-06-24 12:03:00.00000066',
 '2011-06-24 12:03:00.000000146',
 '2011-06-24 12:03:00.000000149',
 '2011-06-24 12:03:00.00000038',
 '2011-06-24 12:03:00.000000196',
 '2011-06-24 12:03:00.00000093',
 '2011-06-24 12:03:00.000000170',
 '2011-06-24 12:03:00.000000168',
 '2011-06-24 12:03:00.0000002',
 '2011-06-24 12:03:00.00000042',
 '2014-06-15 07:06:00.0000006',
 '2014-06-15 07:06:00.00000037',
 '2014-06-15 07:06:00.00000025',
 '2014-06-15 07:06:00.0000008',
 '2014-06-15 07:06:00.00000036',
 '2014-06-15 07:06:00.00000042',
 '2014-06-15 07:06:00.00000033',
 '2014-06-15 07:06:00.00000013',
 '2014-06-15 07:06:00.00000035',
 '2014-06-15 07:06:00.00000030',
 '2014-06-15 07:06:00.00000024',
 '2014-06-15 07:06:00.00000031',
 '2014-06-15 07:06:00.0000009',
 '2014-06-15 07:06:00.00000039',
 '2014-06-15 07:06:00.00000010',
 '2014-06-15 07:06:00.00000019',
 '2014-06-15 07:06:00.00000041',
 '2014-06-15 07:06:00.00000028',
 '2014-06-15 07:06:00.00000014',
 '2014-06-15 07:06:00.0000003',
 '2014-06-15 07:06:00.00000017',
 '2014-06-15 07:06:00.00000015',
 '2014-06-15 07:06:00.00000026',
 '2014-06-15 07:06:00.0000002',
 '2014-06-15 07:06:00.00000040',
 '2014-06-15 07:06:00.00000016',
 '2014-06-06 16:22:20.0000003',
 '2014-06-06 16:22:20.0000002',
 '2015-05-30 21:29:04.0000004',
 '2015-05-30 21:29:04.0000007',
 '2015-05-30 21:29:04.0000003',
 '2015-05-30 21:29:04.0000001',
 '2009-10-26 12:01:36.0000001',
 '2009-10-26 12:01:36.0000002',
 '2009-10-26 12:01:36.0000005',
 '2009-10-26 12:01:36.0000003',
 '2013-02-02 15:45:08.0000003',
 '2013-02-02 15:45:08.0000001',
 '2013-02-02 15:45:08.0000002',
 '2015-04-15 06:47:04.0000001',
 '2015-04-15 06:47:04.0000002',
 '2010-12-14 23:27:36.0000001',
 '2009-03-05 11:03:04.0000002',
 '2009-03-05 11:03:04.0000001',
 '2013-07-18 12:23:40.0000003',
 '2013-07-18 12:23:40.0000002',
 '2013-07-18 12:23:40.0000001',
 '2014-04-14 13:48:32.0000004',
 '2014-04-14 13:48:32.0000003',
 '2014-08-18 05:33:08.0000001',
 '2012-01-28 03:14:28.0000001',
 '2009-09-14 02:19:00.00000014',
 '2009-09-14 02:19:00.00000035',
 '2009-09-14 02:19:00.00000040',
 '2009-09-14 02:19:00.00000031',
 '2009-09-14 02:19:00.0000003',
 '2009-09-14 02:19:00.00000025',
 '2009-09-14 02:19:00.0000008',
 '2009-09-14 02:19:00.00000024',
 '2009-09-14 02:19:00.00000021',
 '2009-09-14 02:19:00.00000036',
 '2009-09-14 02:19:00.0000009',
 '2009-09-14 02:19:00.0000001',
 '2009-09-14 02:19:00.00000018',
 '2009-09-14 02:19:00.00000039',
 '2009-09-14 02:19:00.0000002',
 '2009-09-14 02:19:00.00000038',
 '2009-09-14 02:19:00.00000020',

In [48]:
#### Converting train_x, train_y, test_x into numpy arrays

train_x_arr = train_x.to_numpy()

train_y_arr = np.array(train_y)

test_x_arr = test_x.to_numpy()

# **Implementing the Model**

In [49]:
pip install lightgbm

Requirement already satisfied: lightgbm in /usr/local/lib/python3.7/dist-packages (2.2.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.19.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightgbm) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightgbm) (1.1.0)

# **Light Gradient Boosting Machine (LGBM)**

In [50]:
####
# Importing LGBM Regressor

from lightgbm import LGBMRegressor
clf = LGBMRegressor()

# Training the Regressor

clf.fit(train_x_arr,train_y_arr)

LGBMRegressor()

In [51]:
####
# Predicting test_x using the Regressor

predictions = clf.predict(test_x_arr)

print(predictions)

[ 8.64362012  8.69127557  6.94241014 ... 53.62099923 19.91796084
  8.40266559]

In [52]:
####
# Attaching test_key to predictions and adding them in submission data frame

submission = pd.DataFrame()
submission['key'] = test_key
submission['fare_amount'] = list(predictions)

In [53]:
####
# Prnting the Submission

submission

                              key  fare_amount
0     2015-01-27 13:08:24.0000002     8.643620
1     2015-01-27 13:08:24.0000003     8.691276
2     2011-10-08 11:53:44.0000002     6.942410
3     2012-12-01 21:12:12.0000002     7.770083
4     2012-12-01 21:12:12.0000003    14.050174
...                           ...          ...
9909  2015-05-10 12:37:51.0000002     8.813268
9910  2015-01-12 17:05:51.0000001     9.483391
9911  2015-04-19 20:44:15.0000001    53.620999
9912  2015-01-31 01:05:19.0000005    19.917961
9913  2015-01-18 14:06:23.0000006     8.402666

[9914 rows x 2 columns]

In [54]:
####
# Saving submission into a csv file

submission.to_csv('model_submission_1.csv',index=False)

In [55]:
####
# Submitting submission to kaggle

! kaggle competitions submit -c new-york-city-taxi-fare-prediction -f model_submission_1.csv -m "LGBM Regressor "

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 453k/453k [00:00<00:00, 1.75MB/s]
Successfully submitted to New York City Taxi Fare Prediction